<suite name="Gmail">
  <test name="Message send">
  		<parameter name="Browser" value="c"/>
  		<parameter name="url" value="https://accounts.google.com/signin"/>
  		<parameter name="username" value="abc@gmail.com"/>
  		<parameter name="password" value="987654321"/>
  		<parameter name="image" value="F:\\Download\\Images\\Bug Screenshot\\GmailCompose.JPG"/>
  		<parameter name="mailid" value="kranthireddynandyala@gmail.com"/>
  		<parameter name="subject" value="This is Automatic Generated Message"/>
  		<parameter name="message" value="'Jeena Hain to Marna Seekho. Kadam Kadam Par Ladna Seekho.'"/>
    <classes>
      <class name="transfer.MessageSend"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
